.CanvasWrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d1d1d;
}

.CanvasClipImg {
  appearance: none;
  outline: none;
  border: none;
  background: #1d1d1d;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CanvasCanvas {
  position: absolute;
  transform: scale(1, 1);
  opacity: 0;
  transition: all cubic-bezier(.27,.19,.44,1) .6s;
  cursor: pointer;
}

.CanvasCanvas:hover {
  transform: scale(1.1, 1.1);
  opacity: 1;
  transition: all cubic-bezier(.27,.19,.44,1) .6s;
}

@media screen and (max-width: 615px) {
  .CanvasCanvas:active {
    transform: scale(1.1, 1.1);
    opacity: 1;
    transition: all cubic-bezier(.27,.19,.44,1) .6s;
  }
}

.CanvasImg {
  width: 360px;
  height: auto;
  cursor: pointer;
}